# Node
node_modules
*.log

# Firebase outputs
.firebase/
.firebaserc.local
firebase-debug.log*
ui-debug.log

# Functions build
functions/lib
functions/node_modules

# Env
.env
.env.*
!.env.example

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/